.editorconfig     export-ignore
.gitattributes    export-ignore
.gitignore        export-ignore
/.github/         export-ignore
/.php_cs.dist     export-ignore
/clientcompat/    export-ignore
/docs/            export-ignore
/example/         export-ignore
/goreleaser.yml   export-ignore
/go.mod           export-ignore
/go.sum           export-ignore
/Makefile         export-ignore
/phpunit.xml.dist export-ignore
/lib/tests/       export-ignore
/vendor-bin/      export-ignore
