/build/

# IDE integration
/.vscode/*
!/.vscode/tasks.json
/.idea/*
!/.idea/runConfigurations/
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/*.iml

# PHP
.php_cs
.php_cs.cache
/composer.lock
/phpunit.xml
/.phpunit.result.cache
/php/.idea/
/vendor/

*-packr.go
