includes:
    - phpstan-baseline.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - lib/src
    autoload_files:
        - lib/vendor/autoload.php
