<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="php/vendor/autoload.php">
    <coverage>
        <include>
            <directory suffix=".php">./php/src/</directory>
        </include>
        <exclude>
            <directory>./vendor/</directory>
            <directory>./php/vendor/</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Twirp Test Suite">
            <directory>./php/tests/</directory>
        </testsuite>
        <testsuite name="Twirp Example Test Suite">
            <directory>./example/tests/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>example</group>
        </exclude>
    </groups>
</phpunit>
